.homeSection {
  /* background-color: #161a1a; */
  padding-top: 150px;
}

.homeContainer {
  max-width: 1480px;
  margin: auto;
}

.recentlyPlayed {
  height: 334px;
}

.recentlyPlayedImage {
  width: 225px;
  height: 225px;
}
.browse {
  margin-bottom: 100px;
}

.songCategory {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.genre {
  cursor: pointer;
}

.recommendationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likeBox {
  width: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
